@model BossBank.Data.Entities.Cliente

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Insira as Informações</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClienteID" />
            <div class="card">
                <div class="card-header">Informações Pessoais</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="ClienteNome" class="control-label"></label>
                            <input asp-for="ClienteNome" class="form-control" />
                            <span asp-validation-for="ClienteNome" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ClienteTel" class="control-label"></label>
                            <input asp-for="ClienteTel" class="form-control" />
                            <span asp-validation-for="ClienteTel" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="ClienteCPF" class="control-label"></label>
                            <input asp-for="ClienteCPF" class="form-control" />
                            <span asp-validation-for="ClienteCPF" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ClienteEmail" class="control-label"></label>
                            <input asp-for="ClienteEmail" class="form-control" />
                            <span asp-validation-for="ClienteEmail" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-header">Informações Profisionais</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="ClienteEmpre" class="control-label"></label>
                            <input asp-for="ClienteEmpre" class="form-control" />
                            <span asp-validation-for="ClienteEmpre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ClienteFunc" class="control-label"></label>
                            <input asp-for="ClienteFunc" class="form-control" />
                            <span asp-validation-for="ClienteFunc" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="ClienteCNPJ" class="control-label"></label>
                            <input asp-for="ClienteCNPJ" class="form-control" />
                            <span asp-validation-for="ClienteCNPJ" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ClienteSalario" class="control-label"></label>
                            <input asp-for="ClienteSalario" class="form-control" />
                            <span asp-validation-for="ClienteSalario" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-header">Informações de Endereço</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="ClienteRua" class="control-label"></label>
                            <input asp-for="ClienteRua" class="form-control" />
                            <span asp-validation-for="ClienteRua" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ClienteCidade" class="control-label"></label>
                            <input asp-for="ClienteCidade" class="form-control" />
                            <span asp-validation-for="ClienteCidade" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="ClienteBairro" class="control-label"></label>
                            <input asp-for="ClienteBairro" class="form-control" />
                            <span asp-validation-for="ClienteBairro" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ClienteEstado" class="control-label"></label>
                            <input asp-for="ClienteEstado" class="form-control" />
                            <span asp-validation-for="ClienteEstado" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-danger">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
