@model BossBank.Data.Entities.Colaborador

@{
    ViewData["Title"] = "Create";
}

<h1>Colaborador</h1>

<h4>Insira as informações</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card">
                <div class="card-header">Informações Pessoais</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="CPF" class="control-label"></label>
                            <input asp-for="CPF" class="form-control" />
                            <span asp-validation-for="CPF" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-header">Informações Profisionais</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="Gestor" class="control-label"></label>
                            <input asp-for="Gestor" class="form-control" />
                            <span asp-validation-for="Gestor" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Salario" class="control-label"></label>
                            <input asp-for="Salario" class="form-control" />
                            <span asp-validation-for="Salario" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-danger">Voltar</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

