@model BossBank.Data.Entities.Colaborador

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Colaborador</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ColaboradorId" />
            <div class="card">
                <div class="card-header">Informações Pessoais</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="ColaboradorNome" class="control-label"></label>
                            <input asp-for="ColaboradorNome" class="form-control" />
                            <span asp-validation-for="ColaboradorNome" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="ColaboradorCPF" class="control-label"></label>
                            <input asp-for="ColaboradorCPF" class="form-control" />
                            <span asp-validation-for="ColaboradorCPF" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-header">Informações Profisionais</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="ColaboradorCargo" class="control-label"></label>
                            <input asp-for="ColaboradorCargo" class="form-control" />
                            <span asp-validation-for="ColaboradorCargo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ColaboradorGestor" class="control-label"></label>
                            <input asp-for="ColaboradorGestor" class="form-control" />
                            <span asp-validation-for="ColaboradorGestor" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="ColaboradorSetor" class="control-label"></label>
                            <input asp-for="ColaboradorSetor" class="form-control" />
                            <span asp-validation-for="ColaboradorSetor" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ColaboradorSalario" class="control-label"></label>
                            <input asp-for="ColaboradorSalario" class="form-control" />
                            <span asp-validation-for="ColaboradorSalario" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-danger">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
