@model BossBank.Data.Models.Colaborador

@{
    ViewData["Title"] = "Edit";
}

<h1>Atualizar Cadastro</h1>

<h4>Colaborador</h4>
<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Edit">
            
            <div hidden class="form-group col-md">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="IdColab" />
                        </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card">
                <div class="card-header">Informações Pessoais</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="NomeColab" class="control-label"></label>
                            <input asp-for="NomeColab" class="form-control" />
                            <span asp-validation-for="NomeColab" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="CpfColab" class="control-label"></label>
                            <input asp-for="CpfColab" class="form-control" />
                            <span asp-validation-for="CpfColab" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">Informações Profissionais</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="CargoColab" class="control-label"></label>
                            <input asp-for="CargoColab" class="form-control" />
                            <span asp-validation-for="CargoColab" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="SalarioColab" class="control-label"></label>
                            <input asp-for="SalarioColab" class="form-control" />
                            <span asp-validation-for="SalarioColab" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            
            <div class="form-group">
                <input type="submit" value="Atualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
